<footer class="footer">
  <small>
   <a href="http://www.thefadco.co.uk">The Fanatical About Design Co</a> powered by 
    <%= link_to image_tag("rails.png", id: "rails", alt: "rails logo"), 'http://rubyonrails.org/' %>
  </small>
  <nav>
    <ul>
            <li><%= link_to image_tag("instagram.png", id: "insta", alt: "The Fanatical About Design Co Instagram page"), 'https://www.instagram.com/thefanaticalaboutdesignco/' %></li>
            <li><%= link_to image_tag("facebook.png", id: "insta", alt: "The Fanatical About Design Co Facebook page"), 'https://www.facebook.com/thefadcoltd/' %></li>
            <li><%= link_to image_tag("twitter.png", id: "insta", alt: "The Fanatical About Design Co Twitter page"), 'https://www.twitter.com/theFADcoltd' %></li>
    </ul>
  </nav>
</footer>